* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #142632;
}

a {
    text-decoration: none;
}

header {
    background-color: #3e3e3b;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    
}

nav > a {
    padding: 8px 0px;
}

ul {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    height: 70px;
}

ul > li {
    background-color: black;
    padding: 8px;
    border-radius: 5px;
}

li > a {
    color: darksalmon;
    background-color: black;
}

main {
    padding-top: 86px;
}

main > section {
    /* background-color: gray; */
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
}

section > p {
    background-color: lightgrey;
}

main img {
    margin-bottom: 30px;
}

footer {
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

article {
    width: 450px;
}

article section {
    border: 2px solid blue;
    height: 320px;
    overflow: scroll;
    word-wrap: break-word;
}

article > h1 {
    font-size: 3vw;
}

button {
    margin-top: 5px;
    border-radius: 5px; 
    padding: 5px;
    border: none;
    background-color: black;   
}

button > a {
    color:darksalmon;
    background-color: black;
}
